@using EntityLayer.Concrete
@model List<Admin>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kategori Mail</th>
        <th>Yetki</th>
        <th>Durum</th>
        <th>Yetki Al</th>
        <th>Yetki Değiştir</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.AdminID</th>
            <td>@item.AdminUserName</td>
            <td>@item.AdminRole</td>
            <td>Aktif</td>
            <td><a href="/AdminCategory/DeleteCategory/@item.AdminID" class="btn btn-danger">Yetki Al</a></td>
            <td><a href="/Authorization/EditAdmin/@item.AdminID" class="btn btn-warning">Yetki Değiştir</a></td>
        </tr>
    }
</table>
<a href="/Authorization/AddAdmin" class="btn btn-info">Yeni Admin Tanımla</a>